.central-programs-page {

    #sankey-chart {
        height: 500px;
        margin-bottom: 100px;

        .node-tooltip {
            font-weight: bold
        }

        #info {
            height: 50px;
        }
    }

    #sankey-grouping {
        text-align: center;
        .control {
            display: inline-block;
            padding: 20px 0px;
            text-align: center;
        }
        .label {
            padding-right: 10px;
        }
        button {
            font-weight: normal !important;
            border-color: $theme-blue;

            &.btn-sm {
                padding: 0.2rem 0.5rem;
            }

            &:not(.active) {
                background-color: white;
                color: $theme-blue;
            }
        }
    }

    #overlay {
        font-size: 1.2rem;
    }

}
