.contact-page {

    input, select, textarea {
        border-radius: 20px;
    }

    form>label {
        padding-top: 15px;
    }

    #contact-form {
        .form-check{
            padding-top: 15px;
        }
    }

    #twitter-icon {
        height: 45px;
        display: inline-block;
        padding-bottom: 7px;
    }
}
