.index {

    button.cta{
        border-radius: 50rem;
        padding: 1rem 2rem;
        margin-top: 1rem;
        background-color: $theme-blue;
    }

    .hero{
        max-width: 1140px;
    }

    .container{
        margin-bottom: 6rem;
    }

    .descriptions{
        margin-top: -6rem;
    }

    .descriptions > div{
        background:#fff;
        box-shadow: 0 0.5rem 0.75rem 0.4rem rgba(0,0,0,0.2);
        margin: 1rem 0.8rem;
        /*padding: 2rem 3rem;*/
        border-radius: 0.5rem;
    }
}
