// colors
$theme-blue: #0042e6;
$gray: #6c757d;
$light-gray: #e9e9e9;
$hover-highlight: #f8f9fa;

// shadow (inc color)
$box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.7);

// font sizes
$body-font-size: 1rem;
$footnote-font-size: 0.8rem;
$bold-weight: 800;
