$overview-table-bg-color: rgba(245,247,254,1);

.central-program-page-template {

    .program-data-overview {
        .heading {
            thead th {
                border-top: 0px;
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        table.overview {
            background-color: $overview-table-bg-color;

            td, th {
                border: 0px;
            }

            div.value {
                font-weight: normal;
            }
        }
    }
}
