#logo {
    width: 400px;
}
#tagline {
    width: 400px;
    color: #4A4A4A;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
}
#logo-row, #menu-row {
    width: 100%;
    padding: 10px;
}
#menu-row {
    box-shadow:  0 3px 4px -4px rgba(0,0,0,0.7);
}
.menu {
    width: 100%;
    hr {
        border: 1px solid red;
        display: block;
        width: 100%;
        border-color: #0042E6;
    }
    .nav-item {
        padding: 5px 15px 10px 10px;
    }
}
