#logo {
    width: 400px;
}
#tagline {
    width: 400px;
    color: #4A4A4A;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
}
#logo-row, #menu-row {
    width: 100%;
    padding: 10px;
}
.menu {
    .nav-item {
        padding: 10px;
    }
}
