header {
  #logo {
    width: 400px;
  }
  #tagline {
    width: 400px;
  }
  #logo-row, #menu-row {
    width: 100%;
  }
  .menu {
    .nav-item {
        padding: 10px;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top:50px;
}

.sticky + .content {
  padding-top: 60px;
}