@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700,400|Nunito+Sans:900,400,800');


.home {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1287px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.home .dsc0043 {
  background-color    : rgba(136, 136, 136, 1.0);
  top                 : 190px;
  height              : 684px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .dsc0043 .mask {
  background-color    : rgba(136, 136, 136, 1.0);
  top                 : 0px;
  height              : 684px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .dsc0043 .dsc00431 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -10px;
  height              : 764px;
  width               : 1149px;
  position            : absolute;
  margin              : 0;
  left                : -73px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 570px;
  height              : 410px;
  width               : 492px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 570px;
  height              : 410px;
  width               : 492px;
  position            : absolute;
  margin              : 0;
  left                : 506px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .whatistheousdcen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 608px;
  height              : auto;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 582px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito Sans", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 32.0px;
}
.home .whatisopenousd {
  background-color    : rgba(255,255,255,0.0);
  top                 : 608px;
  height              : auto;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito Sans", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 32.0px;
}
.home .thecentralofficei {
  background-color    : rgba(255,255,255,0.0);
  top                 : 689px;
  height              : auto;
  width               : 342px;
  position            : absolute;
  margin              : 0;
  left                : 582px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 17.36px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 28.0px;
}
.home .openousdisaprojec {
  background-color    : rgba(255,255,255,0.0);
  top                 : 655px;
  height              : auto;
  width               : 322px;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 17.36px;
  color               : rgba(0, 0, 0, 0.87);
  text-align          : left;
  line-height         : 28.0px;
}
.home .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1135px;
  height              : 152px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .footer .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 152px;
  width               : 1024px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .footer .group1 .rectangle1 {
  background-color    : rgba(0, 66, 230, 1.0);
  top                 : 0px;
  height              : 152px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .footer .group1 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : 39px;
  width               : 306px;
  position            : absolute;
  margin              : 0;
  left                : 359px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .footer .group1 .group2 .createdby {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito Sans", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(249, 246, 246, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.home .footer .group1 .group2 .group218 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .footer .group1 .disclaimerthissit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 76px;
  height              : 45px;
  width               : 534px;
  position            : absolute;
  margin              : 0;
  left                : 246px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(249, 246, 246, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.home .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 911px;
  height              : 82px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 593px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .group .rectangle1 {
  background-color    : rgba(0, 66, 230, 1.0);
  top                 : 0px;
  height              : 82px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .group .explorethedepartme {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 54px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito Sans", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.home .headerv3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 104px;
  width               : 1021px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .headerv3 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 104px;
  width               : 1021px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .headerv3 .volunteersproviding2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 48px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 578px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .headerv3 .volunteersproviding2 .volunteersproviding {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : italic;
  font-size           : 18.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.home .headerv3 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 81px;
  width               : 419px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .navhome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 137px;
  height              : 37px;
  width               : 1026px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .navhome .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 1026px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .navhome .group1 .linecopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 1px;
  width               : 677px;
  position            : absolute;
  margin              : 0;
  left                : 349px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .navhome .group1 .linecopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 1px;
  width               : 341px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.home .navhome .group1 .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 631px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.08px;
  line-height         : 19.0px;
}
.home .navhome .group1 .departments {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 450px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.08px;
  line-height         : 19.0px;
}
.home .navhome .group1 .home1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 326px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto Mono", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 66, 230, 1.0);
  text-align          : left;
  letter-spacing      : 1.08px;
  line-height         : 19.0px;
}
.home .navhome .group1 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}