@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700,400|Nunito+Sans:900,400,800');
.home {
    min-width: 100vw;
    position: relative;
    overflow: hidden;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(255, 255, 255, 1.0);
}

a {
    text-decoration: none;
}

div {
    -webkit-text-size-adjust: none;
}

.footer {
    display: block;
    background-color: rgba(0, 66, 230, 1.0);
    font-family: "Nunito Sans", Helvetica, Arial, serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
    color: rgba(249, 246, 246, 1.0);
    text-align: center;
    line-height: 1.5rem;
    top: 0px;
    height: auto;
    width: 100vw;
    position: relative;
    margin: 0;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

#footerlogo {
    width: 16rem;
    height: auto;
    padding-top: .5rem;
}
.footer p {
    margin-bottom: 0px;
}