.overview-chart {
  .pie-chart {
    height: 300px;
    user-select: none;

    * {
      transition: fill 0.3s ease-out;
    }

    text[text-anchor="middle"] {
      font-weight: bold;
    }
  }
  .description {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .change {
      font-size: 1.8em;
      margin-left: -15px;
      .arrow {
        font-size: 1.8em;
        margin-top: -10px;
        margin-right: -10px;
      }
    }
  }
}
