.scroll-widget {
  #content {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #nav-connector {
    height: 20px;
    width: 2px;
    background-color: blue;
    margin-top: -2px;
    margin-bottom: -2px;
  }

  #nav-circle {
    display: flex;
    height: 12px;
    width: 12px;
    border-radius: 100px;
    border: 3px solid blue;
  }
  .selected {
    background-color: blue;
  }
}
