.react-bootstrap-table {
    a, .btn-link, .table-header {
        color: $theme-blue;
    }

    .table-header {
        font-size: 1.1rem;
    }

    .first-row {
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
    }

    .strong {
        font-weight: 800;
    }

    .over-budget {
        color: #E60000;
    }
}

.search-bar {
    font-style: italic;
    border-radius: 1rem;
    width: 300px;
}

// Show / hide columns

#show-hide-columns-modal {
    .modal-header {
        border-bottom: 0px;
        .close {
            font-size: 2em !important;
        }
    }
    .modal-body {
        .heading {
            font-size: 1.1em;
        }
        .column-option {
            background-color: white;
            border: 0px;
            display: block;
            margin-bottom: 3px;

            span {
                font-weight: normal;
            }

            &:hover {
                background-color: #f8f9fa;
            }

            &.visible svg {
                fill: rgb(182,46,61);
            }

            &.hidden svg {
                fill: $theme-blue;
            }
        }
    }
    .modal-footer {
        border-top: 0px;
    }
}
