.search-bar {
    &::placeholder {
        color: black;
    }
    border-radius: 1rem;
}

a, .btn-link, .table-header {
    color: $theme-blue;
}

.first-row {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.strong {
    font-weight: 800;
}

.over-budget {
    color: red;
}
